.section_filter{
  padding-top: 150px;
display: flex;
align-items: center;
justify-content: space-around;

}
.filter_input {
  // width: 100%;
  padding: 14px 20px;
  font-size: 16px;
  border-radius: 200px;
border: 1px solid #C0C2D7;
background: #FFF;
.selectOption {
  border: none;
  text-align: center;

}

}